@page
@model Football_Club.Pages.Clients.Tiers.TierEditModel
@{
}

<br>
<h2>Edit Membership Tier</h2>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@Model.ErrorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<form method="post">
    <input type="hidden" asp-for="TierInfo.ID" />

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Tier Name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" asp-for="TierInfo.TierName" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Description</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" asp-for="TierInfo.Description" />
        </div>
    </div>

    @if (!string.IsNullOrEmpty(Model.SuccessMessage))
    {
        <div class="row mb-3">
            <div class="col-sm-9">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>@Model.SuccessMessage</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    }

    <div class="row mb-3">
        <div class='offset-sm-3 col-sm-3 d-grid'>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/Clients/Tiers/tiersIndex" role="button">Cancel</a>
        </div>
    </div>
</form>
